<!-- Extende a estrutura base "estrutura_admin.html" -->
{% extends "estrutura_admin.html" %}

{% block conteudo %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }

    th,
    td {
        padding: 12px;
        border: 1px solid #dddddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .edit-btn,
    .delete-btn {
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
    }

    .edit-btn {
        background-color: #4CAF50;
        /* Green */
    }

    .delete-btn {
        background-color: #f44336;
        /* Red */
    }
</style>

<!-- Início da tabela de produtos -->
<table class="table table-hover">
    <!-- Cabeçalho da tabela -->
    <thead class="table-dark">
        <tr>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Quantidade</th>
            <th>Fornecedor</th>
            <th>Preço de Compra</th>
            <th>Preço de Venda</th>
            <th>Data de Entrada</th>
            <th>Data de Valid.</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <!-- Corpo da tabela -->
    <tbody>
        <!-- Loop através de todos os produtos para preencher as linhas da tabela -->
        {% for produto in todos_produtos %}
        <tr>
            <td>{{ produto.nome_produtos }}</td>
            <td>{{ produto.marca }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.forn_prod }}</td>
            <td>R${{ produto.preco_compra }}</td>
            <td>R${{ produto.preco_venda }}</td>
            <td>{{ produto.data_entrada_prod }}</td>
            <td>{{ produto.data_valid_prod }}</td>
            <!-- Link para a página de edição do produto específico -->
            <td>
                <a href="{{ url_for('editar', id=produto.id_produtos) }}" class="edit-btn">Editar</a>
            </td>
            <!-- Link para a página de exclusão do produto específico -->
            <td>
                <a href="{{ url_for('excluir', id=produto.id_produtos) }}" class="delete-btn">Excluir</a>
            </td>
        </tr>
        <!-- Fim do Loop -->
        {% endfor %}
    </tbody>
</table>
{% endblock %}